body{
    background-color: cadetblue;
    text-align: center;
}

#szamologep{
    margin: auto;
    border: 3px solid darkblue;
    background-color: rgba(24, 24, 255, 0.514);
    width: 40%;
    height: 40vh;
}

#gombok{
    margin-top: 30px;
}

label{
    font-size: 1.5em;
}

#vegeredmeny{
    background-color: white;
}
